*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   background-color: #0b0c10;
}
#box>#navbar{
   width: 100%;
   height: auto;
   display: grid;
   grid-template: auto/repeat(6,auto);
   justify-content: end;
   gap: 20px;
   
}
#box>#navbar>div{
   color: white;
   cursor: pointer;
   
}
#box>#navbar>div>a{
   color: white;
   text-decoration: none;

}